{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",

  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors", // if that file exports something the other file can import it and if it doesn't export it cant be imported somewhere else
    "plugin:react/recommended", // this fixes a lot of React problems, but you can question these rules
    "plugin:jsx-a11y/recommended", // this is doing some more abilities to understand accessibility
    "prettier", // this two prettier rule set must be the last thing
    "plugin:prettier/recommended",
    "prettier/react"
  ],

  "plugins": ["react", "prettier", "import", "jsx-a11y"],

  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prefer-stateless-function": [
      2,
      {
        "ignorePureComponents": true
      }
    ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "arrow": true,
        "return": true,
        "declaration": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-named-as-default": 0,
    "react/prop-types": 0, // *
    "react/jsx-props-no-spreading": 0,
    "strict": ["error", "global"],
    "curly": ["error", "all"],
    "prettier/prettier": "error",
    "no-console": "off", // * console.log() will be a warning if this equals 1
    "no-underscore-dangle": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect" // you have to tell eslint which version React are using, "detect" will say can you just figure out yourself (from package.json)
    }
  }
}
